# XDG.
export XDG_CONFIG_HOME="$HOME/.config"
export XDG_DATA_HOME="$HOME/.local/share"

# Editor.
export EDITOR="nvim"

# Node.
export NODE_COMPILE_CACHE="$HOME/.cache/nodejs-compile-cache"

{{- if .is_work }}
# Claude Code.
export ANTHROPIC_MODEL="opus[1m]"
export CLAUDE_CODE_EFFORT_LEVEL="high"
export CLAUDE_CODE_EXPERIMENTAL_AGENT_TEAMS=1
{{- end }}
