bin/
scripts/

# Git repo files.
LICENSE
README.md
CLAUDE.md
.node-version

# Neovim files.
.config/nvim/lazy-lock.json

{{- if .is_work }}
# Personal configs.
.gitconfig
.config/mise/
.config/zsh/after/mise.zsh
{{- end }}

{{- if .is_personal }}
# Work configs.
.claude/commands/pr.md
.config/nvim/lua/plugins/stripe/
.local/bin/git
{{- end }}
