bin/
scripts/

# Git repo files.
LICENSE
README.md

# Neovim files.
.config/nvim/lazy-lock.json

{{ if .is_work }}
# Personal scripts.
00-setup-node.sh
02-generate-ssh-key.sh
01-install-python-packages.sh

# Personal configs.
.gitconfig

{{ if ne .chezmoi.os "linux" }}
# Bash configs.
setup-bashrc.sh
.config/bash/
{{ end }}

{{ else }}
# Work scripts.
setup-bashrc.sh

# Work configs.
.claude/commands/pr.md
.config/bash/
.config/nvim/lua/plugins/stripe/
.config/zsh/before/claude_variables.zsh
.local/bin/git
{{ end }}
