# Commonalities
brew "fnm"
brew "fzf"
brew "gh"
brew "git-delta"
brew "lazygit"
brew "neovim"
brew "pipx"
brew "ripgrep"
brew "sesh"
brew "shellcheck"
brew "shfmt"
brew "tlrc"
brew "tmux"
brew "uv"
brew "zoxide"

{{ if eq .chezmoi.os "darwin" -}}
# macOS GUI Applications
cask "firefox"
cask "ghostty"
cask "google-chrome"
cask "hiddenbar"
cask "karabiner-elements"
cask "nordvpn"
cask "notion"
cask "nvidia-geforce-now"
cask "qbittorrent"
cask "raycast"
cask "scroll-reverser"
cask "tailscale"
cask "visual-studio-code"
cask "vlc"
cask "zoom"

# VSCode Extensions
vscode "davidanson.vscode-markdownlint"
vscode "dbaeumer.vscode-eslint"
vscode "eamodio.gitlens"
vscode "esbenp.prettier-vscode"
vscode "github.copilot"
vscode "github.copilot-chat"
vscode "ms-vscode-remote.remote-ssh"
vscode "ms-vscode-remote.remote-ssh-edit"
vscode "ms-vscode.remote-explorer"
vscode "redhat.vscode-yaml"
vscode "shd101wyy.markdown-preview-enhanced"
vscode "tombonnike.vscode-status-bar-format-toggle"
vscode "vscodevim.vim"
vscode "yoavbls.pretty-ts-errors"
{{- end }}
