# Commonalities
brew "fnm"
brew "fzf"
brew "gh"
brew "git-delta"
brew "lazygit"
brew "neovim"
brew "pipx"
brew "ripgrep"
brew "sesh"
brew "shellcheck"
brew "shfmt"
brew "tlrc"
brew "tmux"
brew "zoxide"

{{ if eq .chezmoi.os "darwin" -}}
# macOS GUI Applications
cask "firefox"
cask "ghostty"
cask "google-chrome"
cask "hiddenbar"
cask "karabiner-elements"
cask "nordvpn"
cask "notion"
cask "qbittorrent"
cask "raycast"
cask "scroll-reverser"
cask "tailscale-app"
cask "visual-studio-code"
cask "vlc"
cask "zoom"
{{- end }}