#!/usr/bin/env bash

# .zshrc hash: {{ if stat (joinPath .chezmoi.homeDir ".zshrc") }}{{ include (joinPath .chezmoi.homeDir ".zshrc") | sha256sum }}{{ else }}none{{ end }}

source "{{ .chezmoi.sourceDir }}/scripts/manage_block.sh"

ZSHRC_CONTENT='if [[ -f "$HOME/.config/zsh/.zshrc" ]]; then
	source "$HOME/.config/zsh/.zshrc"
fi'

manage_block "$HOME/.zshrc" "$ZSHRC_CONTENT"
