#!/usr/bin/env bash

# .tmux.conf hash: {{ include (joinPath .chezmoi.sourceDir "dot_tmux.conf") | sha256sum }}

if [[ -d "$HOME/.tmux/plugins/tpm" ]]; then
	export TMUX_PLUGIN_MANAGER_PATH="$HOME/.tmux/plugins"

	tmux start-server
	tmux source-file "$HOME/.tmux.conf"

	echo "Installing tmux plugins..."
	"$HOME/.tmux/plugins/tpm/bin/install_plugins"
else
	echo "tmux plugin manager (tpm) not found at $TMUX_PLUGIN_MANAGER_PATH/tpm. Skipping tmux plugin installation."
fi
