#!/bin/bash

# .tmux.conf hash: {{ include (joinPath .chezmoi.sourceDir "dot_tmux.conf") | sha256sum }}

TPM_DIR="$HOME/.tmux/plugins/tpm"

if [[ -d "$TPM_DIR" ]]; then
	echo "Installing tmux plugins..."
	TMUX_CONF="$HOME/.tmux.conf" "$TPM_DIR/bin/install_plugins"
else
	echo "tmux plugin manager (tpm) not found at $TPM_DIR. Skipping tmux plugin installation."
fi
