#!/usr/bin/env bash

# mise.toml hash: {{ includeTemplate ".chezmoitemplates/file-hash.tmpl" "dot_config/exact_mise/config.toml" }}

{{ if .is_personal -}}
if command -v mise &>/dev/null; then
  echo "Installing tools with mise..."
  mise install --yes
fi
{{- end }}
