#!/usr/bin/env bash

# .bashrc hash: {{ if stat (joinPath .chezmoi.homeDir ".bashrc") }}{{ include (joinPath .chezmoi.homeDir ".bashrc") | sha256sum }}{{ else }}none{{ end }}

source "{{ .chezmoi.sourceDir }}/scripts/manage_block.sh"

BASHRC_CONTENT='if [[ -f "$HOME/.config/bash/.bashrc" ]]; then
	source "$HOME/.config/bash/.bashrc"
fi'

manage_block "$HOME/.bashrc" "$BASHRC_CONTENT"
