#!/bin/bash

{{ if eq .chezmoi.os "linux" -}}
sudo apt update
sudo apt install -y {{ range .packages.common }}{{ . }} {{ end }} {{ range .packages.linux }}{{ . }} {{ end }}

# Set zsh as default shell if not already
if [ "$SHELL" != "/usr/bin/zsh" ]; then
	echo "Changing default shell to zsh..."
	sudo chsh -s /usr/bin/zsh $(whoami)
fi
{{ end -}}

{{ if eq .chezmoi.os "darwin" -}}
if command -v brew &> /dev/null; then
	brew bundle --no-lock --file=/dev/stdin <<EOF
		{{ range .packages.common -}}
		brew {{ . | quote }}
		{{ end -}}
		{{ range .packages.brew_only -}}
		brew {{ . | quote }}
		{{ end -}}
		{{ range .packages.darwin -}}
		cask {{ . | quote }}
		{{ end -}}
EOF
fi
{{ end -}}
