#!/bin/bash

# Function to install or upgrade pipx packages
install_or_upgrade() {
    local package=$1
    if pipx list --short | grep -q "^${package} "; then
        pipx upgrade "${package}"
    else
        pipx install "${package}"
    fi
}

if command -v pipx &> /dev/null; then
    {{ range .packages.python.common -}}
    install_or_upgrade {{ . | quote }}
    {{ end -}}

    {{ if .is_work -}}
    {{ range .packages.python.work -}}
    install_or_upgrade {{ . | quote }}
    {{ end -}}
    {{ else -}}
    {{ range .packages.python.personal -}}
    install_or_upgrade {{ . | quote }}
    {{ end -}}
    {{ end -}}
fi
