#!/usr/bin/env bash

# .zshrc hash: {{ includeTemplate ".chezmoitemplates/file-hash.tmpl" (joinPath .chezmoi.homeDir ".zshrc") }}

source "{{ .chezmoi.sourceDir }}/scripts/manage_block.sh"

ZSHRC_CONTENT='if [[ -f "$HOME/.config/zsh/.zshrc" ]]; then
	source "$HOME/.config/zsh/.zshrc"
fi'

manage_block "$HOME/.zshrc" "$ZSHRC_CONTENT"
