#!/usr/bin/env bash

TARGET_FILE="$HOME/.codex/config.toml"
mkdir -p "$(dirname "$TARGET_FILE")"
touch "$TARGET_FILE"

{{ if .is_work -}}
yq -i -p toml -o toml '.model_reasoning_effort = "high"' "$TARGET_FILE"
{{ end -}}

{{ if .is_personal -}}
yq -i -p toml -o toml 'del(.model_reasoning_effort)' "$TARGET_FILE"
{{ end -}}

yq -i -p toml -o toml '.tui.status_line = ["model-with-reasoning", "current-dir", "context-usage", "five-hour-limit", "weekly-limit"]' "$TARGET_FILE"
