git:
  {{- if .is_work }}
  autoFetch: false
  fetchAll: false
  {{- end }}
  pagers:
    - colorArg: always
      pager: delta --paging=never --dark
{{- if .is_work }}
disableStartupPopups: true
{{- end }}
