---
- name: "Check for distribution config : {{ ansible_facts['distribution'] }}"
  ansible.builtin.stat:
    path: "{{ role_path }}/tasks/{{ ansible_facts['distribution'] }}.yml"
  register: zsh_distribution_config
- name: "Run tasks : {{ ansible_facts['distribution'] }}"
  ansible.builtin.include_tasks: "{{ ansible_facts['distribution'] }}.yml"
  when: zsh_distribution_config.stat.exists
- name: "Check Oh My Zsh installation status"
  ansible.builtin.stat:
    path: "{{ lookup('ansible.builtin.env', 'ZSH') or ansible_facts['user_dir'] + '/.oh-my-zsh' }}"
  register: zsh_oh_my_zsh_stat
- name: "Install Oh My Zsh"
  ansible.builtin.shell: sh -c "$(curl -fsSL https://raw.githubusercontent.com/ohmyzsh/ohmyzsh/master/tools/install.sh)" "" --keep-zshrc
  changed_when: not zsh_oh_my_zsh_stat.stat.exists
  when: not zsh_oh_my_zsh_stat.stat.exists
- name: "Install zsh-autosuggestions"
  ansible.builtin.git:
    repo: "https://github.com/zsh-users/zsh-autosuggestions"
    dest: "{{ lookup('ansible.builtin.env', 'ZSH_CUSTOM') or ansible_facts['user_dir'] + '/.oh-my-zsh/custom' }}/plugins/zsh-autosuggestions"
    version: master
- name: "Check for existing config"
  ansible.builtin.stat:
    path: "{{ ansible_facts['user_dir'] }}/.config/zsh"
  register: zsh_config
- name: "Remove existing config"
  ansible.builtin.file:
    path: "{{ ansible_facts['user_dir'] }}/.config/zsh"
    state: absent
  when: zsh_config.stat.islnk is defined and not zsh_config.stat.islnk
- name: "Create config directory"
  ansible.builtin.file:
    path: "{{ ansible_facts['user_dir'] }}/.config"
    state: directory
    mode: "0755"
- name: "Link config"
  ansible.builtin.file:
    src: "{{ role_path }}/files/zsh"
    dest: "{{ ansible_facts['user_dir'] }}/.config/zsh"
    state: link
- name: "Get status of .zshrc"
  ansible.builtin.stat:
    path: "~/.zshrc"
  register: zsh_zshrc_stat
- name: "Remove .zshrc if it is a link"
  ansible.builtin.file:
    path: "~/.zshrc"
    state: absent
  when: zsh_zshrc_stat.stat.islnk is defined and zsh_zshrc_stat.stat.islnk
- name: "Ensure .zshrc exists"
  ansible.builtin.copy:
    content: ""
    dest: "{{ ansible_facts['user_dir'] }}/.zshrc"
    force: false
    mode: "0644"
- name: "Insert / update sourcing of .zshrc"
  ansible.builtin.blockinfile:
    path: "{{ ansible_facts['user_dir'] }}/.zshrc"
    append_newline: true
    prepend_newline: true
    block: |
      if [[ -f {{ ansible_facts['user_dir'] }}/.config/zsh/.zshrc ]]; then
        source {{ ansible_facts['user_dir'] }}/.config/zsh/.zshrc
      fi
