---
- name: "Ubuntu : Install"
  ansible.builtin.apt:
    name: zsh
  become: true
- name: "Ubuntu : Set default terminal"
  ansible.builtin.user:
    name: "{{ ansible_facts['user_id'] }}"
    shell: /usr/bin/zsh
  become: true
