---
- name: "MacOSX : Check if karabiner-elements is installed"
  ansible.builtin.command: command -v karabiner_cli
  register: karabiner_cli_command_check
  changed_when: false
  failed_when: false
- name: "MacOSX : Prompt for sudo password"
  ansible.builtin.pause:
    prompt: "Password"
    echo: false
  when: karabiner_cli_command_check.rc != 0
  register: karabiner_sudo_password
- name: "MacOSX : Install"
  community.general.homebrew_cask:
    name: karabiner-elements
    sudo_password: "{{ karabiner_sudo_password.user_input | default('') }}"
- name: "MacOSX : Create config directory"
  ansible.builtin.file:
    path: "{{ ansible_facts['user_dir'] }}/.config"
    state: directory
    mode: "0755"
- name: "MacOSX : Link config"
  ansible.builtin.file:
    src: "{{ role_path }}/files/karabiner"
    dest: "{{ ansible_facts['user_dir'] }}/.config/karabiner"
    state: link
    force: true
