---
- name: "Ubuntu : Check for latest version"
  ansible.builtin.uri:
    url: https://api.github.com/repos/Schniz/fnm/releases/latest
  register: fnm_latest_version_response
- name: "Ubuntu : Set latest version"
  ansible.builtin.set_fact:
    fnm_latest_version: "{{ fnm_latest_version_response.json.tag_name }}"
- name: "Ubuntu : Download latest version"
  ansible.builtin.get_url:
    url: "https://github.com/Schniz/fnm/releases/download/{{ fnm_latest_version }}/fnm-linux.zip"
    dest: "/tmp/fnm-{{ fnm_latest_version }}-linux.zip"
    mode: "0644"
  register: fnm_download_result
- name: "Ubuntu : Create fnm directory"
  ansible.builtin.file:
    path: "{{ fnm_path }}"
    state: directory
    mode: "0755"
- name: "Ubuntu : Check if fnm binary exists"
  ansible.builtin.stat:
    path: "{{ fnm_path }}/fnm"
  register: fnm_stat
- name: "Ubuntu : Extract and install binary"
  when: not fnm_stat.stat.exists or fnm_download_result.changed
  ansible.builtin.unarchive:
    src: "/tmp/fnm-{{ fnm_latest_version }}-linux.zip"
    dest: "{{ fnm_path }}"
    remote_src: true
