---
- name: "Check for distribution config : {{ ansible_facts['distribution'] }}"
  ansible.builtin.stat:
    path: "{{ role_path }}/tasks/{{ ansible_facts['distribution'] }}.yml"
  register: neovim_distribution_config
- name: "Run tasks : {{ ansible_facts['distribution'] }}"
  ansible.builtin.include_tasks: "{{ ansible_facts['distribution'] }}.yml"
  when: neovim_distribution_config.stat.exists
- name: "Check for existing config"
  ansible.builtin.stat:
    dest: "{{ ansible_facts['user_dir'] }}/.config/nvim"
  register: neovim_nvim_config
- name: "Remove existing config"
  ansible.builtin.file:
    path: "{{ ansible_facts['user_dir'] }}/.config/nvim"
    state: absent
  when: neovim_nvim_config.stat.islnk is defined and not neovim_nvim_config.stat.islnk
- name: "Create config directory"
  ansible.builtin.file:
    path: "{{ ansible_facts['user_dir'] }}/.config"
    state: directory
    mode: "0755"
- name: "Link config"
  ansible.builtin.file:
    src: "{{ role_path }}/files/nvim"
    dest: "{{ ansible_facts['user_dir'] }}/.config/nvim"
    state: link
    force: true
