---
- name: "Ubuntu : Install dependencies"
  ansible.builtin.apt:
    pkg:
      - ninja-build
      - gettext
      - cmake
      - unzip
      - curl
  become: true
- name: "Ubuntu : Clone Neovim repo"
  ansible.builtin.git:
    repo: "https://github.com/neovim/neovim"
    dest: "{{ neovim_repo_path }}"
    version: stable
    force: true
  register: neovim_git_clone
  notify: "Ubuntu : Clean, build and install"
